@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Roboto:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Amatic+SC:wght@700&family=Barlow:wght@400;700&family=Comic+Neue:wght@700&family=Dancing+Script:wght@400;500;600;700&family=Edu+SA+Beginner:wght@700&display=swap');

body {
    background-color: white;
    padding: 0%;
    margin: 0%;
}

.container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

/* Navbar */
header {
    background-color: #1b4b54;
    color: white;
    padding: 10px 0;
}

header nav {
    float: right;
    margin-top: 10px;
}

header ul {
    margin: 0;
    padding: 0;
}

header li {
    display: inline;
    padding: 0 20px;
    font-weight: bold;
    font-size: 15px;
    font-family: 'Barlow', sans-serif;
}

header a {
    color: white;
    text-decoration: none;
}

header a:hover {
    color: #f4b41a;
}

#caption {
    float: left;
}

#caption h1 {
    margin: 0;
}

header .logo-gold {
    color: #f4b41a;
}

/* Hero section */
#Hero {
    min-height: 500px;
    background-image: url("bg-img.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#Hero h4 {
    font-size: 25px;
    margin-top: 160px;
    margin-bottom: 10px;
    text-align: center;
    color: white;
}

#Hero h1 {
    font-size: 70px;
    margin-top: 0;
    margin-bottom: 5px;
    text-align: center;
    color: #f4b41a;
    font-family: 'Edu SA Beginner', cursive;
}

#Hero button {
    font-size: 19px;
    background-color: white;
    padding: 10px 20px;
    font-weight: bold;
    border: 1px solid black;
    color: #1b4b54;
    display: flex;
    align-items: center;
    margin: auto;
}

#Hero button:hover {
    background-color: #1b4b54;
    color: white;
    border: 1px solid #f4b41a;
}

#separate {
    padding: 5px;
    background-color: #1b4b54;
}


/*About me section*/
#about {
    padding: 20px 0px;
    background-color: white;
}

#about h2 {
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    color: #1b4b54;
}

#about p {
    font-size: 18px;
    font-family: 'Abel', sans-serif;
    font-weight: bold;
    color: #1b4b54;
}

.about-box1 {
    width: 20%;
    float: left;
    padding: 10px;
}

.about-box1 img {
    display: block;
    margin: auto;
}

.about-box2 {
    width: 60%;
    float: right;
    padding: 10px;
    text-align: justify;
}

#about button {
    font-size: 15px;
    font-weight: bold;
    background-color: white;
    border: 1px solid #1b4b54;
    color: #1b4b54;
    padding: 8px 20px;
}

#about button:hover {
    background-color: #1b4b54;
    color: white;
    border: 1px solid white;
}

/*end of about me section*/
/*skills section*/
#skills {
    background-color: #eafdfc;
    padding: 70px 0;
}

.box {
    width: 14.8%;
    float: left;
    text-align: center;
    padding: 10px;
}
.box h3{
    text-align: center;
}

.card {
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    margin: 1rem;
    position: relative;
}

.card-1 {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.card-1:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

#skills h2 {
    color: #1b4b54;
    font-size: 40px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

#skills h3 {
    font-size: 22px;
    font-family: 'Comic Neue', cursive;
    font-weight: bolder;
}

#skills p {
    font-size: 14px;
    color: black;
    font-family: 'Abel', sans-serif;
    padding: 10px;
}

/*end of skills section*/
/* contact section */
#forms h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: bold;
    color: #1b4b54;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

#forms {
    margin: 5% 25%;
    padding: 70px;
    background-color: white;
    text-align: center;
}

#forms .form-group {
    font-size: 20px;
    color: #1b4b54;
    font-weight: bold;
}

input {
    width: 250px;
    padding: 5px;
    margin: 2px 0;
}

#forms .button {
    font-size: 15px;
    font-weight: bold;
    color: white;
    background-color: #1b4b54;
    border: 1px solid #1b4b54;
}

#forms .button:hover {
    color: #1b4b54;
    background-color: white;
}

/*end of contact section*/
/*footer section*/
footer {
    padding: 10px;
    color: #1b4b54;
    background-color: white;
    text-align: center;
    font-weight: bold;
    font-family: 'Abel', sans-serif;
}

/*end of footer section*/
/*Let's Connect*/
#name-validation, #email-validation, #message-validation{
    color: red;
    font-size: 14px;
    display: none;
    font-family: 'Abel', sans-serif;
}
